@model IEnumerable<biblioteca.Models.Book>

@{
    ViewData["Title"] = "Lista de Livros";
}

@using (Html.BeginForm("Search", "Book", null, FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                Pesquisar: 
                <input type="text" name="SearchString" id="SearchString" class="form-control" value="@ViewBag.Pesquisa" />
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<p>
    <a asp-action="CreateBook">Novo Livro</a>
</p>

<br />
<p>@ViewBag.Mensagem</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Autor
            </th>
            <th>
                Lançamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Writter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Release)
                </td>
                <td>
                    <a asp-action="UpdateBook" asp-route-id="@item.BookID">Editar</a> |
                    <a asp-action="DeleteBook" asp-route-id="@item.BookID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
